.card-style{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 320px;
    margin: 0 20px 20px;
}
.imsge{
    @media screen and (min-width: 601px) and (max-width: 1024px) {
     width: 300px;
    }
}

.whatsapp-link {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    z-index: 999; /* Ensure it's above other content */
}

/* Style for the WhatsApp link when hovered */
.whatsapp-link:hover {
    background-color: darkgreen;
}